<launch>
    <!-- PS4 Ubuntu Driver -->
    <!-- <include file="$(find ds4_driver)/launch/ds4_driver.launch">
        <arg name="addr" value= "" />
        <arg name="use_standard_msgs" value="false" />
    </include> -->

    <!-- PS4 Mapper -->
    <!-- <node pkg="skippy_input_manager" type="ps4_mapper.py" name="ps4_mapper" output="screen">
        <rosparam command="load" file="$(find skippy_input_manager)/config/controller_config.yaml" />
        <param name="stamped" value="True" />
    </node> -->

    <!-- Pro launch -->

    <node pkg="joy" type="joy_node" name="ps_controller_node" output="log">
        <param name="deadzone" value="0.05"/>
    </node>
    <node pkg="teleop_twist_joy" type="teleop_node" name="ps_controller_mapper_node" output="log">
        <param name="scale_linear" value="1"/>
        <param name="scale_angular" value="2"/>

    </node>


    <!-- <group ns="skippy-gps">
        <param name="/skippy-gps/path" value="/dev/sierrausb" />
        <node pkg="skippy-gps" name="GPS" type="gpsnode.py" respawn="true"/>
    </group> -->

    <!-- skippy estop safety--> 
    <!-- <node pkg="skippy_estop_status" type="skippy_estop_status_node" name="estop_status_node" respawn="true" output="log"></node> -->

    <!-- skippy Ros 1 Driver -->
    <node pkg="ros_motor_driver" type="motor_driver_node" name="test" respawn="true" output="log"></node>

</launch>
